@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: pink;
}

.header__top {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.menu__list {
  display: flex;
}

/* Применяется ко всем li, кроме первой */
.menu__list li + li {
  padding-left: 50px;
}

.login {
  margin-right: 44px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.menu__list a {
  opacity: 0.5;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.5s;
}

.menu__list a:hover {
  opacity: 1;
}

.sigh-up {
  text-transform: uppercase;
  color: #250f8a;
  font-weight: 600;
  background-color: #fff;
  padding: 8px 43px;
  border-radius: 20px;
}

/* СЛЕД  */
.operation__field {
  padding-top: 50px;
  min-height: 850px;
  flex-direction: column;
  display: flex;
  justify-content: top;
  align-items: center;
}

.lesson-name {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 900;
  justify-content: center;
  align-items: center;
}

.fields {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.lesson-number {
  width: 180px;
  background-color: aquamarine;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 9px;
  margin-bottom: 30px;
  text-align: center;
}

.lesson-open {
  width: 180px;
  background-color: rgb(12, 166, 255);
  border: 2px solid #000;
  border-radius: 8px;
  padding: 9px;
  text-align: center;
}
